{{ define "http.rc.message" }}{{ range .Alerts }}{
"groupId":"{{ .Labels.groupId }}",
"artifactId":"{{ .Labels.artifactId }}",
"version":"{{ .Labels.version }}",
"projects":"{{ .Labels.projects }}",
"commits":{{ .Annotations.commits | toJsonString }}
}{{ end }}{{ end }}

{{ define "http.ga.message" }}{{ range .Alerts }}{
"groupId":"{{ .Labels.groupId }}",
"artifactId":"{{ .Labels.artifactId }}",
"version":"{{ .Labels.version }}",
"projects":"{{ .Labels.projects }}",
"commits":{{ .Annotations.commits | toJsonString }}
}{{ end }}{{ end }}

{{ define "http.rollback.message" }}{{ range .Alerts }}{
"groupId":"{{ .Labels.groupId }}",
"artifactId":"{{ .Labels.artifactId }}",
"version":"{{ .Labels.version }}",
"projects":"{{ .Labels.projects }}",
"commits":{{ .Annotations.commits | toJsonString }}
}{{ end }}{{ end }}
