{{ define "slack.teamcity.text" }}{{ range .Alerts }}
*Artifact:* `{{ .Labels.groupId }}:{{ .Labels.artifactId }}:{{ .Labels.version }}`
*State:* `{{ .Labels.state }}`
*Type:* `{{ .Labels.buildServer }}:{{ .Labels.buildType }}`
{{ end }}
{{ template "__text_alert_list" . }}
{{ end }}

{{ define "slack.lifecycle.text" }}{{ range .Alerts }}
*Type:* `{{ .Labels.buildType }}`
*CI Name:* `{{ .Labels.buildServer }}`
*Artifact:* `{{ .Labels.groupId }}:{{ .Labels.artifactId }}:{{ .Labels.version }}`
*State:* `{{ .Labels.state }}`
{{ end }}
{{ template "__text_alert_list" . }}
{{ end }}