{{ define "slack.build.title" }}{{ range .Alerts }}Build {{ .Labels.status }}{{ end }}{{ end }}

{{ define "slack.build.text" }}{{ range .Alerts }}
*Artifact:* `{{ .Labels.groupId }}:{{ .Labels.artifactId }}:{{ .Labels.version }}`
*Type:* `{{ .Labels.buildServer }}:{{ .Labels.artifactType }}`
*All Labels:*
{{ range .Labels.SortedPairs }} - {{ .Name }} = {{ .Value }}
{{ end }}*All Annotations:*
{{ range .Annotations.SortedPairs }} - {{ .Name }}: ```{{ .Value }}```
{{ end }}
{{ end }}
{{ end }}

{{ define "slack.error.title" }}Error report{{ end }}

{{ define "slack.error.text" }}{{ range .Alerts }}
*All Labels:*
{{ range .Labels.SortedPairs }} - {{ .Name }} = {{ .Value }}
{{ end }}*All Annotations:*
{{ range .Annotations.SortedPairs }} - {{ .Name }}: ```{{ .Value }}```
{{ end }}
{{ end }}
{{ end }}